<ion-header>
  <ion-navbar>
    <ion-title>
      Task Tracker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1>Hi.. <p>{{lguser}}</p></h1>
  <div [innerHTML]="tostr" ></div>
  

  <div [ngClass]="{'opened':isOpen}" class="opeform">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Task</ion-label>
        <ion-input [(ngModel)]="task" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <!-- <ion-item>
        <ion-label color="primary" floating>Date</ion-label>
        <ion-input [(ngModel)]="date" type="text"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label floating>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="date"></ion-datetime>
      </ion-item>
    </ion-list>

    <button  (click)="closetodo()" ion-button round>ADD</button>
  
  </div>




  <ion-fab (click)="createToDo()" bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>

  </ion-fab>
</ion-content>