page-home {
    h1{
        font-size:22px;margin-bottom:30px;
    }
    .fab ion-icon{
        font-size:40px;
    }
    .list-ios > .item-block:first-child{border-top:none;}
    .opeform{position: fixed;min-height: 100vh;background: #ddd;width: 100%;transform: translateY(100%);
        z-index: 9999999999;transition: .5s ease all;}
    .item-ios{background:transparent;}
    .opeform.opened{
        transform:translateY(44px);
    }
    .gen{
        background: #d7d7d8;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 20px 10px;
        .crtil{
            padding: 10px 20px;
            border-bottom: 1px solid #b5b0b0;
            color: #067fda;
            font-size: 16px;
            font-weight: bold;
        }
        .crdcnt{
            font-size:14px;line-height:20px;
            padding: 10px 20px;
            ul{margin:0;padding:0;}
            li{list-style-type:none;}
        }
    }
}
