<ion-header>
  <ion-navbar>
    <ion-title>
     Welcome to ToDo App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Please Login with Facebook </h1>{{status}}
  <!-- <button (click)="signIn('google')">google</button>
  <button (click)="signIn('linkedin')">linkedIn</button> -->
  <!-- <button >facebook</button> -->
  <!-- <div *ngIf="user">
    <table>
      <tr>
        <td>Name:</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>UID</td>
        <td>{{user.uid}}</td>
      </tr>
      <tr>
        <td>Provider</td>
        <td>{{user.provider}}</td>
      </tr>
      <tr>
        <td>Image</td>
        <td>{{user.image}}</td>
      </tr>
    </table>
  </div> -->

  <button (click)="signIn('facebook')" ion-button full>Facebook</button>
  <!-- <button (click)="signIn('google')" ion-button full>G+</button> -->
</ion-content>